@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

.camgr-card-hover-effect {
  border-left: 6px solid transparent;
  border-top: 0.5px solid transparent;
  border-right: 0.5px solid transparent;
  border-bottom: 0.5px solid transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: rgba(111, 66, 193, 0.04);
    border-left: 6px solid #5756bf;
    border-top: 0.5px solid #5756bf;
    border-right: 0.5px solid #5756bf;
    border-bottom: 0.5px solid #5756bf;      
  }
}

.camgr-card-primary-effect {
  border-radius: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: rgba(111, 66, 193, 0.04);
  border-left: 6px solid #5756bf;
  border-top: 0.5px solid #5756bf;
  border-right: 0.5px solid #5756bf;
  border-bottom: 0.5px solid #5756bf;     
}


.detected_img {
  cursor: pointer;
}

.scroll-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;  
  padding-right: 12px;         /* Thêm padding để né scroll bar */
  padding-left: 15px; 
  box-sizing: content-box;    
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background: white; /* hoặc nền bạn muốn */
  padding: 8px;
  z-index: 5;
  border-top: 1px solid #ddd;
}